<h1>New game</h1>
<p>
<% @letters.each do |letter| %>
<strong><%= letter %></strong>
<%end%>
</p>
<form method="POST" action="/score">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="word">What is the largest word you can find ?</label><br>
  <input type="text" name="word" value="<%= params[:word]%>" id="word">
  <input type="submit" value="Play">
</form>